<%- include('partials/header.ejs') %>

<!-- TODO: change flag value of isEmpty and editMode when user changes website section -->
<div class="container">
    <% if (!edit) {%>
        <h1>Create a new blog</h1>
        <form action="/submit" method="POST">
    <%} else {%>
        <h1>Edit blog</h1>
        <form action="/edit" method="POST">
    <%}%>
            <div class="form-label">
                <label class="blog-input input-title" for="pTitle">Title:</label>
            </div>
            <div class="form-input">
                <input type="text" id="pTitle" name="pTitle" minlength="2" required
                <% if (edit) {%>
                    value=<%=title%>
                <%}%>
                >
            </div>

            <div class="form-label">
                <label class="blog-input input-content" for="pContent">Content:</label>
            </div>
            <div class="form-input">
                <textarea type="text" id="pContent" name="pContent" rows="15" maxlength="2000" required><% if (edit) {%><%=content%><%}%></textarea>
                <p class="form-condition">Max characters: 2000</p>
            </div>
            <% if(!edit){%>
                <button type="submit" class="post-btn">Post</button>
            <%} else {%>
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="post-btn">Edit</button>
            <%}%>
        </form>
</div>

<%- include('partials/footer.ejs') %>